<html lang="en" style="background: url(https://p4.wallpaperbetter.com/wallpaper/241/445/153/landscape-love-heart-4k-green-wallpaper-preview.jpg) no-repeat center fixed; background-size: cover">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title font face="Arial" size="20px" color="#FF7A59">Heart Disease Prediction</title>
  <link rel="stylesheet" type="text/css" href="static/style.css">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1 style="text-align: center">Heart Disease Prediction</h1>
      <h2 style="text-align: center">Using Machine Learning to Predict the Likelihood of the Presence of Heart Disease in Patients</h2>
      <h3 style="text-align: center">(This website is an academic exercise only and not intended to be used as an actual diagnostic tool.)</h3>
      <h3 style="text-align: center">(Always consult with a real doctor.)</h3>
      <h3 style="text-align: center"><a href="/form"><button style="height: 30px;" title="Click to go to the prediction page."><b>Let's Begin</b></button></a></h3>
       
    </div>
  </div>
</body>

<footer class="footer navbar-fixed-bottom">
  <div class="two-toned-footer-color"></div>
    <p class="text-muted text-muted-footer text-center">
    <b>&copy; 2022 Georgia Tech Data Science and Analytics Bootcamp<br>
    This website is an academic exercise only and not intended to be used as an actual diagnostic tool. <br>
    Always consult with a real doctor.
    </b>
    </p>
</footer>

</html>